@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    font-size: 16px;
    font-weight: 300;
    line-height: 1.4;
    font-family: 'Roboto', sans-serif;

    
}

.calculator{
    box-shadow: 2px 4px 10px 2px rgba(0, 0, 0, 0.4);
}
.calculator_buttons{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "plus minus multy divide"
    "seven eight nine ."
    "four five six ."
    "one two three ."
    ". zero , equal";
   
}
.calculator_buttons button{
    border: none;
    font-size: 3rem;
    padding: 0.6rem 1.3rem;
    background-color: rgb(216, 216, 216);

  

}
.calulator_display{
    width: 100%;
    text-align: right;
    padding: 1rem 1.2rem;
    /* height: 50px; */
    font-size: 2rem;
}