@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    font-size: 16px;
    font-weight: 300;
    line-height: 1.4;
    font-family: 'Roboto', sans-serif;

    
}

.calculator{
    box-shadow: 2px 4px 10px 2px rgba(0, 0, 0, 0.4);
}
.calculator_buttons{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "divide times minus plus"
    "seven eight nine equal"
    "four five six equal"
    "one two three equal "
    "comma zero allclear equal";

    row-gap: 2px;
    column-gap: 2px;
   
}
.calculator_buttons button{
    border: none;
    font-size: 3rem;
    padding: 0.6rem 1.3rem;
    background-color: rgb(216, 216, 216);

  

}
.calculator_buttons button:hover{
    background-color: rgb(197, 197, 197);
}



.calulator_display{
    width: 100%;
    text-align: right;
    padding: 1rem 1.2rem;
    /* height: 50px; */
    font-size: 2rem;
}

.one{
    grid-area: one;
}

.two{
    grid-area: two;
}

.three{
    grid-area: three;
}
.four{
    grid-area: four;
}

.five{
    grid-area: five;
}

.six{
    grid-area: six;
}

.seven{
    grid-area: seven;
}

.eight{
    grid-area: eight;
}

.nine{
    grid-area: nine;
}

.zero{
    grid-area: zero;
}

.plus{
    grid-area: plus;
}

.minus{
    grid-area: minus;
}

.times{
    grid-area: times;
}

.divide{
    grid-area: divide;
}

.comma{
    grid-area: comma;
}

.allclear{
    grid-area: allclear;
}

.equal{
    grid-area: equal;
}